<html>
  <head>
    <title>Roast with the Archive</title>
    <script>
      function disable() {
	  if(document.getElementById("lines").value != "") {
	      document.getElementById("sbutton").value = "Roasting…";
	      document.querySelector("#sbutton").addEventListener("click", function(event) {
		  event.preventDefault();
	      }, false);
	  }
      }
    </script>
  </head>
  <body>
    <h2>NEW! You can now roast <i>with</i> the Archives!</h2>
    {% if current_roast %}
      <p id="roast_para">
        {% for line in current_roast.split('\n') %}
          {{ line }}<br />
        {% endfor %}
      </p>
    {% endif %}
    <form id="roastform" onsubmit="disable()" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.lines(rows='4', cols='90', placeholder='Write a line or so…') }}
	{% for error in form.lines.errors %}
          <span style="color: red;"><i>{{ error }}</i></span>
	{% endfor %}
      </p>
      <p>
	{{ form.sbutton() }}
	{{ form.cbutton() }}
      </p>
    </form>
  </body>
</html>
